@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">

    <div class="container my-3">
        Last fetched at @Model.UpdatedTime UTC
    </div>

    <div class="my-1 mx-1">
        <img src="/images/East.jpg" />
    </div>
    <div class="my-1 mx-1">
        <img src="/images/West.jpg" />
    </div>
    <div class="my-1 mx-1">
        <img src="/images/North.jpg" />
    </div>
    <div class="my-1 mx-1">
        <img src="/images/South_655.jpg" />
    </div>
</div>

