<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>localhost:8002</destination>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <!-- <includeMdcKeyName>mdc</includeMdcKeyName> -->
    </encoder>
</appender>


  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="logstash" />
  </root>
</configuration>